<!-- contact begin -->
<li class="contact">
    <a href="http://github.com/{{ site.author.github }}/" rel="me" target="_blank">
        <i class="fa fa-github fa-2x"></i>
    </a>
    <a href="mailto:{{site.author.email}}" rel="me">
        <i class="fa fa-envelope fa-2x"></i>
    </a>
    <a href="#" class="pop">
        <i class="fa fa-weixin fa-2x"></i>
    </a>
    <a href="http://twitter.com/{{ site.author.twitter }}/" rel="me" target="_blank">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
    <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}/" rel="me" target="_blank">
      <i class="fa fa-linkedin fa-2x"></i>
    </a>
    <a href="{{BASE_PATH}}/atom.xml" rel="me" target="_blank">
      <i class="fa fa-rss fa-2x"></i>
    </a>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="width: 250px;">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <img src="{{ASSET_PATH}}/pic/wechat.png" class="imagepreview" style="width: 100%;" >
          </div>
        </div>
      </div>
    </div>
</li>

<!-- contact end -->
