<!-- contact begin -->
<li class="contact">
    <a href="http://github.com/{{ site.author.github }}/" rel="me" target="_blank">
        <!--
        <img src="{{ASSET_PATH}}/pic/github_logo.png" alt="http://github.com/{{ site.author.github }}" width="35" height="35"/>
        -->
        <i class="fa fa-github fa-2x"></i>
    </a>
    <a href="mailto:{{site.author.email}}" rel="me">
        <!--
        <img src="{{ASSET_PATH}}/pic/email_logo.png" alt="andyzyy@gmail.com" width="35" height="35"/>
        -->
          <i class="fa fa-envelope fa-2x"></i>
    </a>
    <a href="{{ASSET_PATH}}/pic/wechat.png" rel="me" target="_blank">
      <!--<img src="{{ASSET_PATH}}/pic/wechat_logo.png " width="35" height="35"/>-->
        <i class="fa fa-weixin fa-2x"></i>
    </a>
    <a href="tel:{{ site.author.phone }}" rel="me" >
      <!--<img src="{{ASSET_PATH}}/pic/phone_logo.gif " width="35" height="35"/>-->
      <i class="fa fa-phone fa-2x"></i>
    </a>
    <a href="http://twitter.com/{{ site.author.twitter }}/" rel="me" target="_blank">
      <!--<img src="{{ASSET_PATH}}/pic/twitter_logo.png" alt="http://twitter.com/{{ site.author.twitter }}/" width="35" height="35"/>-->
      <i class="fa fa-twitter fa-2x"></i>
    </a>
    <a href="{{BASE_PATH}}/atom.xml" rel="me" target="_blank">
      <!--<img src="{{ASSET_PATH}}/pic/rss_logo.png" width="35" height="35"/>-->
      <i class="fa fa-rss fa-2x"></i>
    </a>
</li>

<!-- contact end -->
